<section id="options">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="options-area">
            <div class="options-content">
              <ul class="options-grid">
                <li>
                  <div class="options-item options-img-1 wow fadeInUp" (click)="startGame()">
                    <div class="options-info">
                      <p>Start a new game</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>New Game</p>
                  </div>
                </li>
                <li>
                  <div class="options-item options-img-2 wow fadeInUp" (click)="instructions()">
                    <div class="options-info">
                      <p>Game guidance</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>Instructions</p>
                  </div>
                </li>
                <li>
                  <div class="options-item options-img-3 wow fadeInUp" (click)="top_ranks()">
                    <div class="options-info">
                      <p>Top users ranks</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>Top Ranks</p>
                  </div>
                </li>
                  <li>
                  <div class="options-item options-img-4 wow fadeInUp" (click)="exit()">
                    <div class="options-info">
                      <p>Log-out</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>Exit Game</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
