<section id="options">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="options-area">
            <div class="options-content">
              <ul class="options-grid">
                <li>
                  <div class="options-item options-img-1 wow fadeInUp" (click)="startGame()">
                    <div class="options-info">
                      <p>Start a new game</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>New Game</p>
                  </div>
                </li>
                <li>
                  <div class="options-item options-img-2 wow fadeInUp">
                    <div class="options-info">
                      <p>Game rules</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>Instructions</p>
                  </div>
                </li>
                <li>
                  <div class="options-item options-img-3 wow fadeInUp">
                    <div class="options-info">
                      <p>Customize settings</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>Options</p>
                  </div>
                </li>
                  <li>
                  <div class="options-item options-img-4 wow fadeInUp">
                    <div class="options-info">
                      <p>About the game</p>
                    </div>
                  </div>
                  <div class="options-title">
                    <p>About</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>