<header id="navbar">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="./"><img class="logo-img" src="../../../assets/images/icon.png" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="index.html">Home</a></li>
              <li><a href="#pick" (click)="startGame()">New game</a></li>
              <li><a href="#" (click)="instructions()">Instructions</a></li>
              <li><a href="#" (click)="top_ranks()">Top ranks</a></li>
              <li class="menu-has-children"><a href="">Profile</a>
                <ul>
                  <li><a href="#user-area" (click)="can_show()">Personal Details</a></li>
                  <li><a href="#games-summary" (click)="can_show()">Games Summary</a></li>
                  <li><a href="#" (click)="logout()">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
    </div>
</header>
