#state-area {
    position: relative;
    top: 50px;
    padding: 0px 0px;
    margin: 0px 0px;
    margin-bottom: 160px;
    animation-name: move-up;
    animation-duration: 5s;
}
.state-section {
    text-align: center;
    border-radius: 10px;
    background-color: #292945;
    color:white;
    border: 1px double black;
    box-shadow: 0px 2px 2px 0px rgba(212, 150, 255, 0.2);
    height: 200px;
    position: relative;
    top: 80px;
    margin-top: 50px;

}
.game-data {
    position: relative;
    left: 0px;
    border-radius: 4px;
}
.state-section .details {
    padding: 20px;
    background-color: #292945;
    color: white;
    animation-name: fade-in;
    animation-duration: 3s;
}
.game-sep-aqua {
    background-color: #3dd0d8;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    animation-name: fade-in;
    animation-duration: 5s;
}
.game-sep-blue {
    background-color: #5c9ddd;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    animation-name: fade-in;
    animation-duration: 5s;
}
.game-sep-purple {
    background-color: #7d69e4;
    height: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    animation-name: fade-in;
    animation-duration: 5s;
}
@keyframes move-up {
    0%   { top: 300px;  }
    100%   { top: 50px; }
}

.heart-lives {
    width: 15px;
    height: 15px;
    position: relative;
    animation-name: lives-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 4px;
}
.star-icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 4px;
    bottom: 5px;
    animation-name: star-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.points-text {
    color: #006ed4;
}
.achievement-content  {
    position: relative;
    top: 19px;
}
.player-color {
    width: 20px;
    height: 15px;
    background-color: #118cff;
    border: 2px solid black;
    position: relative;
    margin: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-left: 50px;
}
@keyframes lives-move {
    0%   { top: 0px;  }
    25%   { top: 2px; }
    50%  { top: 0px; }
    75% { top: -2px; }
    100% { top: 0px; }
}
@keyframes star-move {
    0%   { left: 0px;  }
    25%   { left: 3px; }
    50%  { left: 0px; }
    75% { left: -3px; }
    100% { left: 0px; }
}

/* Button new game */
.btn-helper {
    color: white;
    font-size: 10px;
    margin-right: 4px;
    height: 18px;
    padding: 3px;
    width: 70px;
}
.btn-helper:hover {
    cursor: not-allowed;
}