<section id="state-area" class="game-area">	
    <div class="game-data container">					
        <div class="row">
            <div class="col-lg-4 col-md-10">
                <div class="state-section">
                    Player
                    <div class="game-sep-aqua"></div>
                    <div class="details">
                        Name: Ran Raboh
                    </div>
                </div>
            </div>	
            <div class="col-lg-4 col-md-10">
                <div class="state-section">
                    Game State
                    <div class="game-sep-blue"></div>
                    <div class="details">
                        Country: {{ country }} <br/>
                        Color: Blue <br/>
                        Helpers: -
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="state-section">
                    Achievement
                    <div class="game-sep-purple"></div>
                    <div class="details">
                        Points: {{ points }} <br/>
                        Conquered: {{ conquered }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>