<header id="upper">
    <div id="header-upper">
        <div id="upper-content" class="blue-shadow">
            <ul id="upper-menu">
                <li><a href="#upper">> Home</a></li>
                <li><a href="#instructions">> Instructions</a></li>
                <li><a href="#topics">> Topics</a></li>
                <li><a href="#data">> Data</a></li>
                <li><a href="#gallary">> Gallary</a></li>
            </ul>
            <a href="#sign-up-block">
                <button id="register-menu" type="button" class="btn btn-outline-warning">
                    <i class="fa fa-lock" aria-hidden="true"></i>  Sign Up
                </button>
                <button id="login-menu" type="button" class="btn btn-outline-warning">
                    <i class="fa fa-lock" aria-hidden="true"></i>  Log In
                </button>
            </a>

        </div>
        <div id="main-text">
            <h1 id="site-name">GeoWar</h1>
            <h2 id="site-desc">
                Geowar is a fun online game application which test competitor's general knowledge about around the globe related topics
                including geography, sport, economy and more.
            </h2>
        </div>
    </div>
</header>