<div id="topics" class="plain-area">
    <h1 class="prefix-title">Top</h1>
    <h1 class="postfix-title">ics</h1>
    <div class="area-title-seperator">
        <hr class="seperator" />
    </div>
    <h5 class="area-subtitle">
        the game analyze extensive data about the world, process it and construct facts in many topics such as:
    </h5>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <topic icon='fa fa-globe' title="Geography" color="green"
                    description="General facts about the countries in the world including size, position, population, cities etc"></topic>
            </div>
            <div class="col-md-4 col-xs-12">
            <topic icon='fa fa-group' title="Society" color="blue"
                description="Facts about the countries society such as ethnic groups, languages, culture, population and more"></topic>
            </div>
            <div class="col-md-4 col-xs-12">
                <topic icon='fa fa-futbol-o' title="Sport" color="purple"
                description="International sport around the globe, popular teams and players"></topic>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <topic icon='fa fa-money' title="Economy" color="pink"
                    description="Facts about economy related topics as revenues, expenditures, imports, exports, unemployement rate, cost of living, quality of life and more" ></topic>
            </div>
            <div class="col-md-4 col-xs-12">
                <topic icon='fa fa-institution' title="Religion" color="red"
                    description="Facts about the various religions in the world and the regions and countries in which they exist." ></topic>
            </div>
            <div class="col-md-4 col-xs-12">
                <topic icon='fa fa-balance-scale' title="Comparsions" color="yellow"
                    description="Astonishing facts of comparison between different countries in the world
                        related to their similarity, distinction or resemblance" ></topic>
            </div>
        </div>
    </div>
</div>   