.game-map {
    background-image: url(../../../assets/images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 1150px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset 0px 0px 2px 2px black;
    animation-name: pop-up;
    animation-duration: 15.1s;
}
.game-introductory {
    background-image: url(../../../assets/images/geowar.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1150px;
    position: relative;
    left: 0px;
    top: 0px;
    box-shadow: inset 0px 0px 1px 1px blue;
    margin-right: auto;
    margin-left: auto;
    animation-name: display-limited;
    animation-duration: 15.0s;
    transition: 1s background-image;
    z-index: 1100;
}
.intro-hide {
    display: none;
}
@keyframes move-up {
    0%   { top: 300px;  }
    100%   { top: 10px; }
}
#cheats-text {
    position: relative;
    right: 40px;
}

.country {
    color: white;
    transition: 1.5s background-color;
    animation-delay: 5s;
}
#country-1:hover, #country-2:hover, #country-3:hover, #country-4:hover, #country-5:hover,
#country-6:hover, #country-7:hover, #country-8:hover, #country-9:hover, #country-10:hover,
#country-11:hover, #country-12:hover, #country-13:hover, #country-14:hover, #country-15:hover {
    background-color:#118cff;
    cursor: pointer;
}
#country-1 {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    position: absolute;
    top: 30px;
    left: 50px;
    width: 190px;
    height: 180px;
    box-shadow: 10px 10px 10px 10px #1129ff;
    animation-name: pop-up;
    animation-duration: 16s;
}
.country-1-color {
    background-color: #ff1111;
}
#country-n1 {
    position: absolute;
    top: 80px;
    left: 55px;
    transition: 2s top;
}
#crown-icon-wrapper-1 {
    position: absolute;
    top: 35px;
    left: 55px;
}
#country-1:hover > #country-n1 {
    top: 40px;
}
#country-2 {
    clip-path: polygon(100% 0%, 80% 45%, 80% 80%, 80% 80%, 77% 95%, 30% 50%, 0% 0, 0 0);
    position: absolute;
    left: 145px;
    top: 31px;
    width: 225px;
    height: 220px;
    animation-name: pop-up;
    animation-duration: 16.5s;
}
.country-2-color {
    background-color: #fd9c00;
}
#country-n2 {
    position: absolute;
    top: 50px;
    left: 65px;
    transition: 2s top;
}
#crown-icon-wrapper-2 {
    position: absolute;
    top: 5px;
    left: 65px;
}
#country-2:hover > #country-n2 {
    top: 20px;
}
#country-3 {
    clip-path: polygon(13% 5%, 58% 0, 93% 85%, 22% 78%);
    position: absolute;
    left: 830px;
    top: 40px;
    width: 250px;
    height: 230px;
    animation-name: pop-up;
    animation-duration: 18s;
}
.country-3-color, .user-country-color {
    background-color: #118cff;
}
#country-n3 {
    position: absolute;
    top: 90px;
    left: 78px;
    transition: 2s top;
}
#crown-icon-wrapper-3 {
    position: absolute;
    top: 45px;
    left: 78px;
}
#country-3:hover > #country-n3 {
    top: 40px;
}
#country-4 {
    clip-path: polygon(100% 0, 42% 0, 100% 100%);
    position: absolute;
    left: 857px;
    top: 41px;
    width: 225px;
    height: 250px;
    animation-name: pop-up;
    animation-duration: 18.5s;
}
.country-4-color {
    background-color: #11e3ff;
}
#country-n4 {
    position: absolute;
    top: 80px;
    left: 155px;
    transition: 2s top;
}
#crown-icon-wrapper-4 {
    position: absolute;
    top: 35px;
    left: 130px;
}
#country-4:hover > #country-n4 {
    top: 45px;
}
#country-5 {
    clip-path: polygon(35% 0%, 85% 5%, 100% 40%, 89% 100%, 42% 71%, 0 71%);
    position: absolute;
    left: 873px;
    top: 215px;
    width: 210px;
    height: 200px;
    animation-name: pop-up;
    animation-duration: 19.5s;
}
.country-5-color {
    background-color:#427b7e;
}
#country-n5 {
    position: absolute;
    top: 80px;
    left: 95px;
    transition: 2s top;
}
#crown-icon-wrapper-5 {
    position: absolute;
    top: 35px;
    left: 95px;
}
#country-5:hover > #country-n5 {
    top: 40px;
}
#country-6 {
    clip-path: polygon(30% 9%, 65% 0%, 100% 3%, 71% 100%, 44% 78%, 16% 55%);
    position: absolute;
    left: 703px;
    top: 210px;
    width: 245px;
    height: 150px;
    animation-name: pop-up;
    animation-duration: 20s;
}
.country-6-color {
    background-color: #8400ff;
}
#country-n6 {
    position: absolute;
    top: 50px;
    left: 105px;
    transition: 2s top;
}
#crown-icon-wrapper-6 {
    position: absolute;
    top: 5px;
    left: 105px;
}
#country-6:hover > #country-n6 {
    top: 30px;
}
#country-7 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 30% 75%);
    position: absolute;
    left: 90px;
    top: 135px;
    width: 240px;
    height: 185px;
    animation-name: pop-up;
    animation-duration: 17s;
}
.country-7-color {
    background-color: #e78e8b;
}
#country-n7 {
    position: absolute;
    top: 80px;
    left: 125px;
    transition: 2s top;
}
#crown-icon-wrapper-7 {
    position: absolute;
    top: 35px;
    left: 125px;
}
#country-7:hover > #country-n7 {
    top: 55px;
}
#country-8 {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 89% 32%, 100% 64%, 66% 80%, 15% 90%, 0 28%);
    position: absolute;
    left: 51px;
    top: 200px;
    width: 170px;
    height: 180px;
    animation-name: pop-up;
    animation-duration: 17.5s;
}
.country-8-color {
    background-color: #a53733;
}
#country-n8 {
    position: absolute;
    top: 63px;
    left: 55px;
    transition: 2s top;
}
#crown-icon-wrapper-8 {
    position: absolute;
    top: 18px;
    left: 55px;
}
#country-8:hover > #country-n8 {
    top: 33px;
}
#country-9 {
    clip-path: polygon(0 14%, 91% 23%, 95% 68%, 75% 100%, 4% 97%);
    position: absolute;
    left: 180px;
    top: 410px;
    width: 370px;
    height: 120px;
    animation-name: pop-up;
    animation-duration: 20.5s;
}
.country-9-color {
    background-color: #13e240;
}
#country-n9 {
    position: absolute;
    top: 25px;
    left: 145px;
    transition: 2s left;
}
#crown-icon-wrapper-9 {
    position: absolute;
    top: 10px;
    left: 70px;
}
#country-9:hover > #country-n9 {
    left: 170px;
}
#country-10 {
    clip-path: polygon(19% 0%, 93% 0%, 84% 100%, 0 90%, 10% 50%);
    position: relative;
    left: 180px;
    top: 377px;
    width: 396px;
    height: 60px;
    animation-name: pop-up;
    animation-duration: 21s;
}
.country-10-color {
    background-color: #3cff94;
}
#country-n10 {
    position: absolute;
    top: 15px;
    left: 145px;
    transition: 2s left;
}
#crown-icon-wrapper-10 {
    position: absolute;
    top: 0px;
    left: 78px;
}
#country-10:hover > #country-n10 {
    left: 170px;
}
#country-11 {
    clip-path: polygon(19% 0, 93% 0%, 84% 100%, 20% 90%, 10% 50%);
    position: absolute;
    left: 693px;
    top: 460px;
    width: 362px;
    height: 70px;
    animation-name: pop-up;
    animation-duration: 22.5s;
}
.country-11-color {
    background-color: #f754e9;
}
#country-n11 {
    position: absolute;
    top: 20px;
    left: 150px;
    transition: 2s left;
}
#crown-icon-wrapper-11 {
    position: absolute;
    top: 5px;
    left: 78px;
}
#country-11:hover > #country-n11 {
    left: 175px;
}
#country-12 {
    clip-path: polygon(14% 0, 95% 0%, 94% 100%, 0% 100%);
    position: absolute;
    left: 753px;
    top: 420px;
    width: 293px;
    height: 50px;
    animation-name: pop-up;
    animation-duration: 23s;
}
.country-12-color {
    background-color: #c815ff;
}
#country-n12 {
    position: absolute;
    top: 12px;
    left: 95px;
    transition: 2s left;
}
#crown-icon-wrapper-12 {
    position: absolute;
    top: -5px;
    left: 28px;
}
#country-12:hover > #country-n12 {
    left: 120px;
}
#country-13 {
    clip-path: polygon(88% 10%, 95% 75%, 13% 28%);
    position: absolute;
    left: 712px;
    top: 35px;
    width: 217px;
    height: 190px;
    transform: rotate(90deg);
    animation-name: pop-up;
    animation-duration: 19s;
}
.country-13-color {
    background-color: #052bd6;
}
#country-n13 {
    position: absolute;
    top: 50px;
    left: 100px;
    transition: 2s top;
}
#crown-icon-wrapper-13 {
    position: absolute;
    top: 5px;
    left: 100px;
}
#country-13:hover > #country-n13 {
    top: 40px;
}
#country-14 {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 24% 50%);
    position: absolute;
    left: 100px;
    top: 470px;
    width: 373px;
    height: 62px;
    animation-name: pop-up;
    animation-duration: 21.5s;
}
.country-14-color {
    background-color: #1fa853;
}
#country-n14 {
    position: absolute;
    top: 10px;
    left: 175px;
    transition: 2s left;
}
#crown-icon-wrapper-14 {
    position: absolute;
    top: -5px;
    left: 98px;
}
#country-14:hover > #country-n14 {
    left: 195px;
}
#country-15 {
    clip-path: polygon(35% 1%, 100% 50%, 20% 96%, 0% 48%);
    position: absolute;
    left: 506px;
    top: 375px;
    width: 118px;
    height: 125px;
    animation-name: pop-up;
    animation-duration: 22s;
}
.country-15-color {
    background-color: #fcff3a;
}
#country-n15 {
    position: absolute;
    top: 50px;
    left: 10px;
    transition: 2s top;
}
#crown-icon-wrapper-15 {
    position: absolute;
    top: 5px;
    left: 10px;
}
#country-15:hover > #country-n15 {
    top: 30px;
}
.country-name {
    background-color: black;
    border-radius: 60px;
    padding: 7px;
    font-family: "Poppins", sans-serif;
}
.rival-country-name {
    color: white;
}
.my-country-name {
    color: #ebf740;
}
.crown-icon {
    width: 50px;
    height: 50px;
    margin: 4px;
    bottom: 5px;
    animation-name: crown-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.no-hover{
    pointer-events: none;
}
.battle-text {
    font-family: "Agency FB";
    font-size: 24px;
    position: absolute;
    top: 200px;
    left: 36%;
    color: rgb(0, 4, 255);
    font-weight: 600;
}
@keyframes crown-move {
    0%   { left: 0px;  }
    25%   { left: 3px; }
    50%  { left: 0px; }
    75% { left: -3px; }
    100% { left: 0px; }
}
