<div id="gallary" class="plain-area">
    <div class="instructions-title">
        <h1 class="prefix-title">Galla</h1>
        <h1 class="postfix-title">ry</h1>
    </div>
    <div class="area-title-seperator">
        <hr class="seperator" />
    </div>
    <h5 class="area-subtitle">
        multiple screenshots from the game so you can get an impression of the game.
    </h5>
    <div class="gallary-images">
      <div class="container row">
          <div class="col-4">
            <img class="gallary-image-main" src="../../../assets/images/gallery-6.PNG"/>
          </div>
          <div class="col-8">
            <div class="container">
                <div class="row">
                  <div class="col-6">
                    <img class="gallary-image" src="../../../assets/images/gallery-1.PNG"/>
                  </div>
                  <div class="col-6">
                    <img class="gallary-image" src="../../../assets/images/gallery-2.PNG"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <img class="gallary-image" src="../../../assets/images/gallery-3.PNG"/>
                  </div>
                  <div class="col-6">
                    <img class="gallary-image" src="../../../assets/images/gallery-4.PNG"/>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
