<section class="banner-area faded faded-bottom">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-6 col-md-6">
                <h1 class="banner-title">
                    Geo War <br>
                    Web Application <br>
                    Game			
                </h1>
                <p class="text-white text-uppercase">
                    Knowledge game on various topics in the field <br/>around the globe. 
                </p>
            </div>										
        </div>
    </div>
</section>