<div id="data" class="plain-area">
    <div class="data-title">
        <h1 class="prefix-title">Da</h1>
        <h1 class="postfix-title">ta</h1>
    </div>
    <div class="area-title-seperator">
        <hr class="seperator" />
    </div>
    <h5 class="area-subtitle">
        The data contains extensive information about countries around the globe in various 
        topics. the application analyze the data and build facts which can be true or false.
        the data includes: <br/>
        countries: general informaton about each country such as population, area size, location, quality of life, life expetency and many more. <br/>
        city: information about cities in the world. <br/>
        religions: information about religions and the regions and countries in which they exist. <br/>
        languages: map between country and it's official language and display other spoken languages in country. <br/>
        sport: informtion about popular soccer teams and players in the world. <br/>
        ethnic groups: map each country with the ethnic groups that are in it including their proportion in relation to the entire population. <br/>
        economy: informaton about economy related topics of each country such as revenus, expenditures, imports, exports, cost of living and more. <br/>
    </h5>
</div>