/* Generic */
body {
    overflow-x: hidden;
}
.text-white {
    color: #fff;
}
.hidden-text {
    display: none;
}
.data-section {
    text-align: center;
    border-radius: 10px;
    background-color: #292945;
    color:white;
    border: 1px double black;
    box-shadow: 0px 2px 2px 0px rgba(212, 150, 255, 0.2);
}
.data-section .details {
    padding: 20px;
    background-color: #292945;
    color: white;
}
.data-section .details h4 {
    margin-bottom: 20px;
    color: white;
}
.data-section .details .primary-btn {
    margin-top: 10px;
    border-radius: 0;
    background: #292945;
    color: white !important;
    font-weight: 600;
}
.data-section:hover {
    cursor: pointer;
}
.data-section:hover .details .primary-btn {
    color: #fff !important;
}
.data-area {
    position: relative;
    background-color: #1f1d33;
    z-index: 10;
}
.game-area {
    background-color: #181727;
    padding-bottom: 250px;
    position: relative;
    bottom: 60px;
    z-index: 1;
}

/* Faded Style */
.faded {
  position: relative;
  color: #1f1d33;
}
.faded:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.faded-bottom {
  position: relative;
  box-shadow: inset 0 -40px 40px -16px;
}
.faded-top {
  box-shadow: inset 0 40px 40px -16px;
}
.faded.faded-top.faded-bottom:after {
    box-shadow: inset 0 40px 40px -16px, inset 0 -40px 40px -16px;
}

/* Modal */
.modal {
    display: block;
    position: fixed; 
    left: 0%;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: scroll; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    animation-name: fade-in;
    animation-duration: 2s;
}
.modal-section {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@keyframes pop-up {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes display-limited {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes color-alternate {
    from {
        filter: hue-rotate(360deg);
    }
    to {
        filter: hue-rotate(0deg);
    }
}



