<div id="myModal" class="modal">
    <div id="sub-section" class="modal-section">
        <h4 class="sub-text">
            Israel Vs Portugal
        </h4>
    </div>
    <div id="fact-section" class="modal-section">
        <h4 class="fact-text">
            <span class="text-bold">1 / 3</span><br/>
            The country Israel has more then 70 cities in total 
        </h4>
    </div>
    <button id="btntrue" type="button" class="btn btn-outline-primary modal-button btn-true">
        True
    </button>
    <button id="btnfalse" type="button" class="btn btn-outline-primary modal-button btn-false">
        False
    </button>
    <button id="factChange" type="button" class="btn btn-outline-primary modal-button btn-imply">
        Change Fact
    </button>
    <button id="revealAnswer" type="button" class="btn btn-outline-primary modal-button btn-imply">
        Reveal Answer
    </button>
    <button id="hint" type="button" class="btn btn-outline-primary modal-button btn-imply">
        Hint
    </button>
</div>