<div id="instructions" class="plain-area">
    <div class="instructions-title">
        <h1 class="prefix-title">Instruc</h1>
        <h1 class="postfix-title">tions</h1>
    </div>
    <div class="area-title-seperator">
        <hr class="seperator" />
    </div>
    <h5 class="area-subtitle">
        Geowar is a fun online game application which test competitor's general knowledge about around the globe related topics including geography, sport, economy and more. <br/>
        At the beginning of the game, the player picks a country. 
        dystopic map displayed on the screen and the player's main goal is to conquer the world. 
        To achieve his target, he should wage a war against each country displayed on the map. <br/>
        In each stage, the player allowed to choose a country to battle against by clicking on it's area. <br/>
        The battle conducted as follows: 
        The player is presented with a numorous facts about his rival country or riveting comparison points presenting similarity and distinction between the countries.
        The player needs to evaluate whether these facts are true or false. 
        If the player evluations were correct, that is he passed the therehold number of 
        correct answers then he conquered the country he battled against. <br/>
        However, if not the rival country fought back and occupied a part of his territory. 
        The player is granted with helpers which assist him to achieve his aim
        such as: change question, hints and revealing the right answer. 
    </h5>
</div>