.sep-area {
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a17fed, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a17fed, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    height: 200px;
    position: relative;
    bottom: 60px;
}
.copyright {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    position: relative;
    bottom: 15px;
}
.bottom {
    background-color:#181727;
    width: 100%;
    height: 100%;
}